{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_learningplan/index
    TODO describe template index
    Example context (json):
    {
    }
}}
<div>
    <table>
        <tr>
            <th>Kurs</th>
            <th>Abschnitt</th>
            <th>Hinzugefügt am</th>
            <th>Bearbeitung bis</th>
            <th>Bearbeitungsstand</th>
            <th>Entfernen</th>
        </tr>
        {{#sections}}
            <tr class="learningplan-section" data-sectionid="{{sectionid}}">
                <td><a href="{{courseurl}}" target="_blank">{{coursename}}</a></td>
                <td><a href="{{sectionurl}}" target="_blank">{{sectionname}}</a></td>
                <td>{{addeddate}}</td>
                <td>
                    <!-- HTML5 Datepicker -->
                    <input type="date" class="datepicker"
                           data-courseid="{{courseid}}"
                           data-sectionid="{{sectionid}}"
                           data-userid="{{userid}}"
                           value="{{#processing_deadline}}{{processing_deadline}}{{/processing_deadline}}">
                </td>
                <td>{{progress}}</td>
                <td>
                    <button class="btn btn-danger btn-sm remove-section-btn" data-courseid="{{courseid}}" data-sectionid="{{sectionid}}" data-userid="{{userid}}">
                        <i class="fa fa-trash"></i> Entfernen
                    </button>
                </td>
            </tr>
        {{/sections}}
        {{^sections}}
            <tr>
                <td colspan="6" class="text-center">Du hast noch keine gespeicherten Lernbereiche.</td>
            </tr>
        {{/sections}}
    </table>
</div>
