{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_learningplan/index
    TODO describe template index
    Example context (json):
    {
    }
}}
<div>

    <!-- Suchfeld & Filter -->
    <div>
 <input type="text" id="searchInput" placeholder="{{searchfield}}">
        <select id="filterSelect">
            <option value="">{{show_all}}</option>
            <option value="open">{{progress_open}}</option>
            <option value="in_progress">{{progress_in_progress}}</option>
            <option value="finished">{{progress_finished}}</option>
        </select>

    </div>

    <!-- Tabelle -->
    <table id="learningPlanTable">
        <thead class="bg-primary">
        <tr>
            <th data-column="coursename" class="sortable bg-primary">{{table_course}}</th>
            <th data-column="sectionname" class="sortable bg-primary">{{table_section}}</th>
            <th data-column="addeddate" class="sortable bg-primary">{{table_created_at}}</th>
            <th data-column="processing_deadline" class="sortable bg-primary">{{table_deadline}}</th>
            <th data-column="progress" class="sortable bg-primary">{{table_progress}}</th>
            <th class="bg-primary">{{table_delete}}</th>
        </tr>
        </thead>
        <tbody>
        {{#sections}}
            <tr class="learningplan-section" data-sectionid="{{sectionid}}" data-progress="{{progress}}">
                <td><a href="{{courseurl}}" target="_blank">{{coursename}}</a></td>
                <td><a href="{{sectionurl}}" target="_blank">{{sectionname}}</a></td>
                <td data-value="{{addedtimestamp}}">{{addeddate}}</td>
                <td>
                    <input type="date" class="datepicker"
                           data-courseid="{{courseid}}"
                           data-sectionid="{{sectionid}}"
                           data-userid="{{userid}}"
                           value="{{#processing_deadline}}{{processing_deadline}}{{/processing_deadline}}">
                </td>
                <td>
                    <select class="progress-dropdown"
                            data-courseid="{{courseid}}"
                            data-sectionid="{{sectionid}}"
                            data-userid="{{userid}}">
                        <option value="open"
                                {{#progress_open_selected}}selected{{/progress_open_selected}}>{{progress_open}}</option>
                        <option value="in_progress"
                                {{#progress_in_progress_selected}}selected{{/progress_in_progress_selected}}>{{progress_in_progress}}</option>
                        <option value="finished"
                                {{#progress_finished_selected}}selected{{/progress_finished_selected}}>{{progress_finished}}</option>
                    </select>
                </td>
                <td>
                    <div class="td-remove">
                        <button class="btn btn-danger btn-sm remove-section-btn" data-courseid="{{courseid}}"
                                data-sectionid="{{sectionid}}" data-userid="{{userid}}">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>

                </td>
            </tr>
        {{/sections}}
        {{^sections}}
            <tr>
                <td colspan="6" class="text-center">{{table_no_entry_part_one}} <br> {{table_no_entry_part_two}} <i class="icon fa-regular fa-bookmark"></i>{{table_no_entry_part_three}}
                </td>
            </tr>
        {{/sections}}
        </tbody>
    </table>
</div>
